<script setup lang="ts">
import { reactive, ref, watch } from 'vue'

const count = ref(0)
function increment(){
    count.value++
}
const myClasses = reactive({
    red: true,
    bold: true,
    underline: true
})
watch(count,function(){
    console.log('Count changed')
})
</script>

<template>
    <div>{{ count }}</div>
    <div ><button @:click = "increment" :class="myClasses"> button is counting</button></div><br>
    <div> {{ myClasses }}</div>
    <button @click="myClasses.red = !myClasses.red">red</button> <button @click="myClasses.bold = !myClasses.bold">bold</button> <button @click="myClasses.underline= !myClasses.underline">underline</button>
    <br>
    <br>
</template>

<style scoped>
.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}
</style>